.main {
    display: flex;
    flex-direction: column;
}

.company {
    flex: 50%;
    text-align: left;
    padding-left: 50px;
    margin-top: 20px;
}
.ul {
    flex: 50%;
    text-align: right;
    margin: -30px;
    margin-right: 0;
}

.li {
    display: inline;
    padding-right: 70px;
    cursor: pointer;
}
